<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Facturando.My.MySettings.Conexion" connectionString="Data Source=DESKTOP-G27C891\SQLSEVER;Initial Catalog=Factura;Persist Security Info=True;User ID=sa;Password=carlitos300493"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>